{% extends 'home.html' %}
{% load static %}
{% block content %}
<!--add new item group-->

    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/delete_stock_items/?id={{stockItem.id}}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Are You sure u want to delete {{stockItem.model}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>

{% endblock %}