{% extends 'home.html' %}
{% load static %}
{% block content %}

<script>

	 $('#printInvoice').click(function(){
            Popup($('.invoice')[0].outerHTML);
            function Popup(data)
            {
                window.print();
                return true;
            }
        });








</script>

<div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
        </div>
        <hr>
    </div>
    <div class="container">

        <div class="col-md-12">
            <div class="invoice-title">
                <h2>Purchase Order</h2>
                <h3 class="pull-right">Order Number:{{purchase_order.order_status}}</h3>
            </div>
        </div>
        <!--details-->
        <div class="row col-md-12">


            <div class="col-md-6">
                <address>
                    <strong>Billed To:</strong><br>
                    {{vendor.vendor_name}}<br>
                    {{vendor.address}} {{vendor.city}} {{vendor.state}}<br>
                    {{vendor.country}}<br>
                    {{vendor.phone_number}}
                </address>
            </div>
            <div class="col-md-6 text-right pull-right">
                <address>
                    <strong>Order Date:</strong><br>
                    {{purchase_order.order_date}}<br><br>
                </address>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Order summary</strong></h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 row">
                    <div class="col-md-1 ">
                        <strong>Sno</strong><br><br>
                        {% for y in a %}
                        {{y}}<br><br>
                        {% endfor %}
                    </div>
                    <div class="col-md-5 ">
                        <strong>Product</strong><br><br>
                        {% for y in purchase_order.product %}
                        {{y}}<br><br>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <strong>Quantity</strong><br><br>
                        {% for y in purchase_order.qty %}
                        {{y}}<br><br>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <strong>Price</strong><br><br>
                        {% for y in purchase_order.price %}
                        {{y}}<br><br>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <strong>Amount</strong><br><br>
                        {% for y in purchase_order.total %}
                        {{y}}<br><br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="col-md-12 row">
                    <div class="col-md-6 ">


                    </div>
                    <div class="col-md-2">


                    </div>
                    <div class="col-md-2">
                        <strong>Sub Total</strong><br>

                    </div>
                    <div class="col-md-2">
                        <strong>{{purchase_order.sub_total}}</strong><br>

                    </div>
                </div>
                <br>
                <div class="col-md-12 row">
                    <div class="col-md-6 ">


                    </div>
                    <div class="col-md-2">


                    </div>
                    <div class="col-md-2">
                        <strong>Tax</strong><br>

                    </div>
                    <div class="col-md-2">
                        <strong>{{purchase_order.tax}}</strong><br>

                    </div>
                </div>
                <br>
                <div class="col-md-12 row">
                    <div class="col-md-6 ">


                    </div>
                    <div class="col-md-2">


                    </div>
                    <div class="col-md-2">
                        <strong>Tax Amount</strong><br>

                    </div>
                    <div class="col-md-2">
                        <strong>{{purchase_order.tax_amount}}</strong><br>

                    </div>
                </div>
                <br>
                <div class="col-md-12 row">
                    <div class="col-md-6 ">


                    </div>
                    <div class="col-md-2">


                    </div>
                    <div class="col-md-2">
                        <strong>Grand Total</strong><br>

                    </div>
                    <div class="col-md-2">
                        <strong>{{purchase_order.total_amount}}</strong><br>

                    </div>
                </div>
            </div>


            <!--<div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td><strong>Product</strong></td>
                        <td class="text-center"><strong>Price</strong></td>
                        <td class="text-center"><strong>Quantity</strong></td>
                        <td class="text-right"><strong>Totals</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    &lt;!&ndash; foreach ($order->lineItems as $line) or some such thing here &ndash;&gt;
                   {% for  y in purchase_order.product %}

                    <tr>

                        <td>{{purchase_order.product}}</td>

                        <td class="text-center">$10.99</td>
                        <td class="text-center">1</td>
                        <td class="text-right">$10.99</td>
                    </tr>


                     {% endfor %}
                    <tr>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line text-center"><strong>Subtotal</strong></td>
                        <td class="thick-line text-right">$670.99</td>
                    </tr>
                    <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Shipping</strong></td>
                        <td class="no-line text-right">$15</td>
                    </tr>
                    <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Total</strong></td>
                        <td class="no-line text-right">$685.99</td>
                    </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>

</div>

{% endblock %}