{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="">
    <div class="main-card mb-3 card">
        <div class="row">
            <div class="col-sm-6">
                <h4>Item Group </h4>
            </div>
            <div class="col-sm-6" align="right">
                <a href="#add_item_group" class="btn btn-success" data-toggle="modal"><i
                        class="material-icons">&#xE147;</i>
                    <span>Add New Item Group</span></a>

            </div>
        </div>
        <table class="mb-0 table">
            <thead>
            <tr>
                <th>S.No</th>
                <th>Group Name</th>
                <th>Stock Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
         {% for itemGroup in itemGroup %}
            <tr>
                <th scope="row">{{sn}}</th>
                <td>{{itemGroup.group_name}}</td>

                <td>{{itemGroup.stock_type}}</td>
                <td>
                     <a href="/delete_confirm_item_group/?id={{itemGroup.id}}"  class="edit" data-toggle="modal"><i class="pe-7s-junk"
                                                                                     data-toggle="tooltip"
                                                                                     title="Delete"></i></a>
                </td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}